doctype html
html(lang='en')
  head
    title ROBOTz application

    link(href='http://fonts.googleapis.com/css?family=Lobster|Indie+Flower', rel='stylesheet')
    link(rel='stylesheet', media='all', href='/normalize.css')
    link(rel='stylesheet', media='all', href='/robotz.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='robotz.js' defer)

  body

    .big-background

    .robotz-application

      .container

        .col-right

          .available-commands
            div.forward
              label
                span.icon-arrow-up2
            div.turn-right
              label
                span.icon-redo
            div.backward
              label
                span.icon-arrow-down2
            div.turn-left
              label
                span.icon-undo

          .execute-commands
            button Make the robot move!
            p.command-result

        .col-left

          h1 ROBOTz!!

          p.welcome Welcome to ROBOTz!! Build your robot's journey by clicking on the directions dial. Have fun!

          .command-list
            textarea(cols="50" rows="10" disabled="disabled")
            ol

        .clearfix
