doctype html
html(lang='en')
  head
    title ROBOTz application

    link(rel='stylesheet', media='all', href='/normalize.css')
    link(rel='stylesheet', media='all', href='/robotz.css')
    script(src='robotz.js' defer)

  body

    h1 ROBTOz!!