doctype html
html(lang='en')
  head
    title ROBOTz application

    link(rel='stylesheet', media='all', href='/normalize.css')
    link(rel='stylesheet', media='all', href='/robotz.css')
    script(src='robotz.js' defer)

  body

    .robotz-application

      h1 ROBTOz!!

      .available-commands
        button.forward Forward
        button.backward Backward
        button.turn-left Turn Left
        button.turn-right Turn Right

      .command-list
        textarea(cols="50" rows="10" disabled="disabled")

      .execute-commands
        button Make the robot move!