.big-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/free-stock-vector-illustration-set-robots-robot-drawing-cartoon-technology-machine04.jpg');
  background-size: cover;
  opacity: 0.15;
  z-index: -1;
}

.robotz-application {
  padding: 1em;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

* + * {
  margin-top: 1em;
}

.clearfix {
  clear:both;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size:48px;
  margin-top: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.col-left {
  float: left;
  width:550px;
  min-height: 400px;
  padding-right: 100px;
  border-right: 1px dashed #CCC;
}

.col-right {
  float: right;
  width:200px;
  text-align: center;
  padding-top: 100px;
}

textarea {
  display: none;
}

ol li {
  background: #FFDE70;
  border: 1px solid #FFC400;
  font-size:24px;
  padding: 20px;
  border-radius: 10px;
}

ol li span {
  float: right;
  /*display: block;
  width: 45px;
  height: 45px;
  background: #FFF;
  border-radius: 45px;
  text-align: center;
  line-height: 45px;*/
}

button + button, button + label {
  margin-left: 1em;
}

button {
  padding: 1em;
  background: #7091FF;
  border: 1px solid #3B68FF;
  color: #FFF;
  font-size: 28px;
}

textarea {
  width: 100%;
}

.available-commands {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(-45deg);
  transform-origin: 100px 100px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 100px 100px;
}

.available-commands label {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
}

.available-commands .turn-left label { left: 5px; top: 10px; }
.available-commands .turn-right label { left: -10px; top: 0; }
.available-commands .forward label { left: -10px; top: 10px; }

.available-commands div {
  position: absolute;
  margin: 0;
  width: 100px;
  height: 100px;
  background: #CCC;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  transition: 0.1s background-color;
}

.available-commands .forward { border-top-right-radius: 100px; right:0; }
.available-commands .turn-right { border-bottom-right-radius: 100px; background:#DDD; right:0; bottom:0; }
.available-commands .backward { border-bottom-left-radius: 100px; bottom:0; }
.available-commands .turn-left { border-top-left-radius: 100px; background:#DDD; }

.available-commands div, .available-commands div label { cursor: pointer; }

.available-commands div:hover {
  background: #333;
  color: #FFF;
}

.execute-commands button {
  display: none;
}


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?j7q5yr');
	src:url('fonts/icomoon.eot?#iefixj7q5yr') format('embedded-opentype'),
		url('fonts/icomoon.woff?j7q5yr') format('woff'),
		url('fonts/icomoon.ttf?j7q5yr') format('truetype'),
		url('fonts/icomoon.svg?j7q5yr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
	content: "\e965";
}

.icon-redo:before {
	content: "\e966";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}




/* MOBILE */

@media all and (max-width: 480px) {

  .container {
    width: auto;
  }

  .col-left, .col-right {
    float: none;
    width: auto;
  }

  .col-right {
    padding-top: 0;
  }

  .col-left {
    padding: 0;
    border-right-style: none;
  }

  .robotz-application {
    /*margin-top: 0;*/
    padding-top: 0;
  }

  .available-commands {
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  .execute-commands button {
    width: 100%;
  }
}
